{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper-form-login" style="width: 800px">
    <div style="text-align: right"><a href="{{ path('add_comment') }}?id={{ project_id }}" class="btn btn-default">Комментировать</a></div>
    {% for comment in comments %}
    <div class="comment">

            <div class="comment-text">
                <div class="comment-user">Пользователь: <strong>{{ comment.user }}</strong><span> Дата: {{ comment.createdAt|date("d.m.Y H:i:s") }}</span></div>
                {{ comment.text }}
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}