{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-form-login" style="width: 950px">
        <table width="100%" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th>№</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Subject</th>
                <th>Author</th>
                <th>Updated</th>
            </thead>

            {% for issue in issues %}
                <tr>
                    <td>{{ issue.redmineId }}</td>
                    <td>{{ issue.status }}</td>
                    <td>{{ issue.priority }}</td>
                    <td><a href="{{ path('schedule_issue') }}?id={{ issue.id }}">{{ issue.subject }}</a></td>
                    <td>{{ issue.author }}</td>
                    <td>{{ issue.updatedAt|date("d.m.Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}