{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper-form-login" style="width: 800px">
<table width="100%" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <th>Project</th>
        <th>Date</th>
        <th>Spent time</th>
        <th>Comment</th>
    </thead>

    {% for project in projects %}
    <tr>
        <td><a href="{{ path('show_issue') }}?id={{ project.id }}">{{ project.name }}</a></td>
        <td>{{ project.updatedAt|date("d.m.Y H:i:s") }}</td>
        <td>{{ project.spent }}</td>
        <td><a href="{{ path('show_comment') }}?id={{ project.id }}">Comment</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

